.profile-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 70px;
}

.profile-page .imagebutton-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.profile-page .imagebutton-section img {
  border-radius: 50px;
  height: 80px;
  width: 80px;
}

.profile-page .imagebutton-section button {
  background-color: white;
  border: solid blue 1px;
  border-radius: 5px;
  color: blue;
  font-family: Verdana , serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  line-height: 132%;
  width: 110px;
}

.profile-page .imagebutton-section button:hover {
  background-color: rgba(0, 0, 255, 0.726);
  color: white;
  cursor: pointer;
}

.profile-page .info-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 280px;
}

.profile-page .info-section h4 {
  color: #3d495c;
  font-family: Verdana , serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.profile-page .info-section p {
  color: #3d495c;
  font-family: Verdana , serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
